<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h2>Welcome to the Student Management System</h2>

    <p>Click the link below to add a new student:</p>
    <a href="/form">Add a Student</a>
    <br>
    
    <p>Click the link below to view list of students:</p>
    <a href="/student-show">View students Student</a>
</body>
</html>
